body {
  
  background-image: url(img/World-Wide-Screen-Wallpaper-HD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.header-blue {
  height: 100px;
  color: white;
  font-family:'Source Sans Pro', sans-serif;
}


.header-blue .navbar {
  background:rgba(0, 0, 0, 0.603);
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:white;
  border-radius:0;
  box-shadow:none;
  border:none;
}
.header-blue .navbar .form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}
/* --------------------header------------------- */
main{
  /* background: black; */
  min-height: 600px;
}

main .mid{
  margin-top: 80px;
height: 600px;
display: flex;
background: rgba(255, 255, 255, 0.247);

}
main .mid .left, .right{

  width: 50%;
}
main .mid .left{
  height: 50%;
}
footer {
  height: auto;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  /* padding-top: 12px; */
}

footer h4 {
  font-size: 28px;
  color: white;
}

footer p {
  color: white;
}

footer .footer-social i {
  font-size: 3em;
}

footer .footer-contact .contact-link-box {
  display: flex;
  flex-direction: column;
}

footer .footer-contact .contact-link-box a {
  margin: 8px 0;
  color: white;
}

footer .footer-contact .contact-link-box a i {
  margin-right: 5px;
}

footer .footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0 8px;

}

footer .footer-social .wa:hover {
  transform: scale(1.3);
  transition: 800ms;
  color: white;
}

footer .footer-social .in:hover {
  transform: scale(1.3);
  transition: 800ms;
  color: white;

}



@media (max-width:768px){

  main .mid{
    flex-wrap: wrap;
    display: flex;
  }
  main .mid .right{

    width: 100%;
  }
  main .mid .left{
    width: 100%;
  }





}




































@media (min-width:768px) {
  .header-blue .navbar {
    padding-top:1rem;
    /* padding-bottom:1rem; */
  }
}

/* -------------------- Media-------------------- */
@media (min-width:768px) {
  .header-blue .navbar {
    padding-top:1rem;
    /* padding-bottom:1rem; */
  }
}



@media (min-width:768px) {
  .header-blue .navbar .navbar-collapse {
    border-color:transparent;
    margin:0;
  }
}

@media (min-width:768px) {
  .header-blue {
    /* padding-bottom:120px; */
  }
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:.7rem;
    padding-right:.7rem;
    color: black;
  }
}
@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    /* padding-left:1.2rem; */
    /* padding-right:1.2rem; */
    color: black;
  }
}






@media (min-width:768px) {
  .header-blue .hero {
    margin-top:60px;
    text-align:left;
  }
}


@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top:190px;
    margin-bottom:24px;
    line-height:1.2;
  }
}




